<!DOCTYPE html>
<html lang="en">
<head>
    {{>headerlinks}}
</head>
<body>
{{>navbar}}
<!-- main header -->
<div  class="container-fluid main_header">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto">
            <div class="row">
            <!-- left side div -->
            <div class="col-md-6 col-12 main_header_right align-items-center">
                <figure>
                    <img src="images/krishna.jpg" alt="krishna" class="img-fluid" title="krishna">  
                </figure>
            </div>
            <div class="col-md-6 col-12 main_header_left align-items-center">
              <p>Welcome to weather app</p>
              <h1>I Am A <span class="text_clr"> Sap UI5(Fiori) </span> And  <span class="text_clr"> Node.js </span> Developer In <span class="text_clr"> Airdit </span></h1>
              <a href="https://www.airditsoftware.com/" target="_Airdit"><button>About me</button></a>
            </div>
            <!-- right side div -->
            
            </div>
        </div>
     </div>
    </div>
    <!-- footer code -->
    {{>footer}}
</body>
</html>